<header>
    <div id="logo">
      <img src="logo.png" alt="Website logo, a server" />
    </div>
  
    <nav>
      <ul>
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/administration">Administration</a>
        </li>
        <li>
          <a routerLink="/lifecycle">Lifecycle</a>
        </li>
        <li>
          <a routerLink="/rec">Rectangle</a>
        </li>
        <li>
          <a routerLink="/directives">Directives</a>
        </li>
        <li>
          <a routerLink="/pipes">Pipes</a>
        </li>
        <li>
            <button appButton text="Logout" icon="→"></button>
        </li>
      </ul>
    </nav>
  </header>
  <router-outlet />